[global_config]
  enabled_plugins = SaveLastSessionLayout, LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler
[keybindings]
[profiles]
  [[default]]
    background_darkness = 0.95
    foreground_color = "#00ff00"
    scrollbar_position = hidden
    scrollback_infinite = True
    palette = "#1f2229:#d41919:#5ebdab:#fea44c:#367bf0:#9755b3:#49aee6:#e6e6e6:#198388:#ec0101:#47d4b9:#ff8a18:#277fff:#962ac3:#05a1f7:#ffffff"
    login_shell = True
    bold_is_bright = True
  [[white]]
    use_theme_colors = True
    bold_is_bright = True
  [[gray]]
    scrollbar_position = hidden
  [[systemtheme]]
    scrollbar_position = hidden
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      directory = ""
  [[OSCP]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:35
      maximised = True
      fullscreen = False
      size = 1910, 1009
      title = root@lexilominite-kali: ~/Workspace/room
      last_active_window = True
    [[[child1]]]
      type = Notebook
      parent = child0
      order = 0
      labels = OpenVPN, Workspace, Reverse Shells, HoaxShell, Pivoting, Backend
      last_active_term = d774dbfa-1cc2-47b9-a944-e6ba579eb966, 79366f37-068a-4dab-93ce-6b106593a6e7, 7b25f4fd-628c-42aa-9624-9226430c7415, 2d0c70c3-2d69-42ce-bd11-6b0030f4cbf9, a4a44c32-1ebd-4b41-a03e-7a39ebfa030f, 66c9d578-b8a0-4189-af5f-a4bc3dd6115b
      active_page = 2
    [[[terminal2]]]
      type = Terminal
      parent = child1
      order = 0
      profile = default
      uuid = d774dbfa-1cc2-47b9-a944-e6ba579eb966
      command = openvpn  /root/Desktop/vpns/universal.ovpn
    [[[child3]]]
      type = VPaned
      parent = child1
      order = 1
      position = 482
      ratio = 0.5005192107995846
    [[[terminal4]]]
      type = Terminal
      parent = child3
      order = 0
      profile = default
      uuid = bce439db-86de-42a7-a10a-2824e5e28c05
      command = ""
      directory = /root/Desktop
    [[[child5]]]
      type = HPaned
      parent = child3
      order = 1
      position = 952
      ratio = 0.5002627430373096
    [[[terminal6]]]
      type = Terminal
      parent = child5
      order = 0
      profile = default
      uuid = 79366f37-068a-4dab-93ce-6b106593a6e7
      directory = /root/Desktop
    [[[terminal7]]]
      type = Terminal
      parent = child5
      order = 1
      profile = default
      uuid = 804e6bd4-8ee3-4fcb-8c13-b3cb67d24ab0
      directory = /root/Desktop
    [[[child8]]]
      type = VPaned
      parent = child1
      order = 2
      position = 482
      ratio = 0.5005192107995846
    [[[terminal9]]]
      type = Terminal
      parent = child8
      order = 0
      profile = default
      uuid = 7b25f4fd-628c-42aa-9624-9226430c7415
      command = rlwrap nc -nlvp 9099
      directory = /root/Desktop
    [[[child10]]]
      type = HPaned
      parent = child8
      order = 1
      position = 952
      ratio = 0.5002627430373096
    [[[terminal11]]]
      type = Terminal
      parent = child10
      order = 0
      profile = gray
      uuid = 996735a5-866c-404f-940d-d182dd72b167
      command = rlwrap nc -nlvp 8081
      directory = /root/Desktop
    [[[terminal12]]]
      type = Terminal
      parent = child10
      order = 1
      profile = white
      uuid = f83e5453-5e26-41fc-bd61-9668b6fd26b0
      command = rlwrap nc -lvp 443
      directory = /root/Desktop
    [[[child13]]]
      type = VPaned
      parent = child1
      order = 3
      position = 482
      ratio = 0.5005192107995846
    [[[terminal14]]]
      type = Terminal
      parent = child13
      order = 0
      profile = white
      uuid = 4dbafe9b-00bb-4ef9-bf00-299cdefa2423
      command = sleep 10; /opt/hoaxshell/hoaxshell.py -s `ip a | ip a | grep tun0 | grep inet | cut -d '/' -f 1 | awk '{print $2}' ` -p 8091
      directory = /opt/hoaxshell
    [[[terminal15]]]
      type = Terminal
      parent = child13
      order = 1
      profile = default
      uuid = 2d0c70c3-2d69-42ce-bd11-6b0030f4cbf9
      command = sleep 10; /opt/hoaxshell/hoaxshell.py -s `ip a | ip a | grep tun0 | grep inet | cut -d '/' -f 1 | awk '{print $2}' ` -p 8090
      directory = /opt/hoaxshell
    [[[child16]]]
      type = VPaned
      parent = child1
      order = 4
      position = 482
      ratio = 0.5005192107995846
    [[[terminal17]]]
      type = Terminal
      parent = child16
      order = 0
      profile = default
      uuid = a4a44c32-1ebd-4b41-a03e-7a39ebfa030f
      command = /root/Desktop/pivoting/proxy -selfcert -laddr 0.0.0.0:9001
      directory = /root/Desktop/pivoting
    [[[terminal18]]]
      type = Terminal
      parent = child16
      order = 1
      profile = default
      uuid = 9bb68ac2-d592-4eee-b69a-83259d1af784
      command = ""
      directory = /root/Desktop/pivoting
    [[[child19]]]
      type = VPaned
      parent = child1
      order = 5
      position = 482
      ratio = 0.5005192107995846
    [[[terminal20]]]
      type = Terminal
      parent = child19
      order = 0
      profile = default
      uuid = 66c9d578-b8a0-4189-af5f-a4bc3dd6115b
      directory = /root/Desktop/
      command = ""
    [[[terminal21]]]
      type = Terminal
      parent = child19
      order = 1
      profile = default
      uuid = ebc7e531-6ca8-4fb9-bf90-7cd1c2310ffe
      command = wsgidav --host=0.0.0.0 --port=80 --auth=anonymous --root /root/Desktop/
      directory = /root/Desktop/
[plugins]
